<div class="container mt-5 text-center">
<div class="row">
<div class="card">
  <%= image_tag @product.image.url, id:"show_img" %> 
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.description %></p>
    <%= link_to "Edit Product", edit_product_path(@product), class:"btn btn-primary" %>
    <%= link_to "Delete Product", product_path(@product),method: :delete ,class:"btn btn-danger" %>
  </div>
</div>
</div>
</div>